body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;

}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: rgb(109, 77, 199);
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

body {
    margin: 0%;
}

.Dream-Big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiences-item {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
    border-left: 10px solid;
}

#border1 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}

#border2 {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 102, 0), rgb(255, 191, 0));
    border-image-slice: 1;
}

footer {
    text-align: center;
}